.hero-container {
  padding-top: 72px;
  height: 100vh;
  width: 100% !important;

  .bg-left-img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 72px);
    text-decoration: none;

    &:hover {
      transform: scale(0.9) rotate(3deg);
      overflow-y: hidden;
      transition: 0.5s;
      border-radius: 1rem !important;
    }
  }

  .movie-left-wrapper {
    position: absolute;
    bottom: 50px;
    max-width: 100%;
    margin-left: 4rem;

    .rating-badge {
      background-color: var(--navbar-hover) !important;
      width: 5rem;
      height: 2rem;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: var(--navbar);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      color: var(--navbar);
      font-weight: 900;
    }

    .movie-info {
      margin: 30px 0 15px 0;

      .genre {
        color: var(--navbar);
        opacity: 0.7;
        margin: 0 0.5rem;
        font-size: 15px;
      }

      .genre:hover {
        opacity: 1;
      }
    }
    .release-date {
      color: var(--navbar);

      .date {
        margin-left: 0.5rem;
      }
    }

    .overview {
      font-size: 16px;
      color: var(--navbar);
      width: 75%;
      line-height: 32px;
      margin-bottom: 15px;
      font-weight: 500;
    }

    .movie-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 0.75rem 1.5rem;
        font-size: 13px;
        font-weight: 700;
        background-color: transparent;
        border: 2px solid rgba(white, 0.1);
        color: var(--navbar);
        border-radius: 4px;
        text-decoration: none;

        &:hover {
          border-color: rgba(white, 1);
          background-color: white;
          color: black;
          transition: 0.5s;
        }
      }
    }
  }

  .bg-right-img-one {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 36px);
    text-decoration: none;
    direction: rtl;

    &:hover {
      transform: scale(0.9) rotate(3deg);
      // transform-origin: bottom left;
      overflow-y: hidden;
      transition: 0.5s;
      border-radius: 1rem !important;
    }
  }

  .movie-right-wrapper-one {
    position: absolute;
    top: 10px;
    right: 25px;
    max-width: 100%;
    margin-right: 1rem;

    .rating-badge {
      background-color: var(--navbar-hover) !important;
      width: 3.5rem;
      height: 1.75rem;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: var(--navbar);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      color: var(--navbar);
      font-weight: 900;
      width: 100%;
    }

    .movie-info {
      margin: 30px 0 15px 0;

      .genre {
        color: var(--navbar);
        opacity: 0.7;
        margin: 0 0.5rem;
        font-size: 15px;
      }

      .genre:hover {
        opacity: 1;
      }
    }
    .release-date {
      color: var(--navbar);
      margin-bottom: 10px;

      .date {
        margin-left: 0.5rem;
      }
    }

    .overview {
      font-size: 16px;
      color: var(--navbar);
      width: 75%;
      line-height: 32px;
      margin-bottom: 15px;
      font-weight: 500;
    }

    .movie-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 0.75rem 1.5rem;
        font-size: 13px;
        font-weight: 700;
        background-color: transparent;
        border: 2px solid rgba(white, 0.1);
        color: var(--navbar);
        border-radius: 4px;
        text-decoration: none;
      }

      a:hover {
        border-color: rgba(white, 1);
        background-color: white;
        color: black;
        transition: 0.5s;
      }
    }
  }

  .bg-right-img-two {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 36px);
    text-decoration: none;
    direction: rtl;

    &:hover {
      transform: scale(0.9) rotate(3deg);
      // transform-origin: top left;
      overflow-y: hidden;
      transition: 0.5s;
      border-radius: 1rem !important;
    }
  }

  .movie-right-wrapper-two {
    position: absolute;
    bottom: 50px;
    right: 25px;
    max-width: 100%;
    margin-right: 1rem;

    .rating-badge {
      background-color: var(--navbar-hover) !important;
      width: 3.5rem;
      height: 1.75rem;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: var(--navbar);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      color: var(--navbar);
      font-weight: 900;
      width: 100%;
    }

    .movie-info {
      margin: 30px 0 15px 0;

      .genre {
        color: var(--navbar);
        opacity: 0.7;
        margin: 0 0.5rem;
        font-size: 15px;
      }

      .genre:hover {
        opacity: 1;
      }
    }

    .release-date {
      color: var(--navbar);
      margin-bottom: 10px;

      .date {
        margin-left: 0.5rem;
      }
    }

    .overview {
      font-size: 16px;
      color: var(--navbar);
      width: 75%;
      line-height: 32px;
      margin-bottom: 15px;
      font-weight: 500;
    }

    .movie-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 0.75rem 1.5rem;
        font-size: 13px;
        font-weight: 700;
        background-color: transparent;
        border: 2px solid rgba(white, 0.1);
        color: var(--navbar);
        border-radius: 4px;
        text-decoration: none;
      }

      a:hover {
        border-color: rgba(white, 1);
        background-color: white;
        color: black;
        transition: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bg-right-img {
    height: calc(100vh - 36px) !important;
  }
  .movie-wrapper {
    max-width: 75% !important;

    .title {
      font-size: 36px !important;
    }
  }
}
