.container {
  height: 100vh;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--navbar);

    a {
      padding: 0.75rem 1.5rem;
      font-size: 15px;
      font-weight: 700;
      background-color: transparent;
      border: 2px solid rgba(white, 0.1);
      color: var(--navbar);
      border-radius: 4px;
      text-decoration: none;
      margin-top: 2rem;
      margin-right: 1rem;

      &:hover {
        border-color: rgba(white, 1);
        background-color: white;
        color: black;
        transition: 0.5s;
      }
    }
  }
}
